@import 'animation.css';

* {
	margin: 0;
	padding: 0;
	z-index: 0;
}

body {
	font-family: 'Lato';
	overflow-x: hidden;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
}

.nav_background {
	height: 70px;
	background-color: black;
}

.navbar > ul {
	position: fixed;
	width: 100%;
	background-color: black;
	list-style-type: none;
	opacity: 0.7;
	z-index: 10;    
}

.navbar > ul > li {
	float: left;
	position: relative;
	left: 50px;
}

.navbar > ul > li > a {
	text-decoration: none;
	color: white;
	padding: 21px 16px;
	border-bottom: 3px solid black;
	font-size: 22px;
	opacity: 1.0;
	font-weight: 400;
	display: block;
	transition: border-bottom 0.7s;
	font-family: "SF Pro Text", "Myriad Set Pro","SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.navbar > ul > li:last-child  {
	display: none;
	float: right;
	color: white;
	position: relative;
	margin-right: 20px;
	top: 22px;
}

.dropdown-content {
	position: absolute;
	float: right;
	top: 47px;
	right: -20px;
	background-color: black;
	width: 150px;
	display: none;
}

.dropdown-content > a {
	text-decoration: none;
	padding: 5px 10px;
	display: block;
	color: white;
} 

.dropdown-content > a > i {
	margin-right: 5px;
}

aside {
	position: fixed;
	z-index: 10;
	left: 0;
	top: 200px;
}

.sidePanel {
	position: absolute;
	background-color: black;
	border-radius: 0 20px 20px 0;
	transform: translateX(-81%);
	transition: transform ease 0.8s, opacity ease 0.8s;
	opacity: 0.6;
	width: 80px;
	height: 300px
}

.sidePanel > a {
	position: relative;
	top: 10px;
	text-decoration: none;
	margin: 0 10px;
	color: white;
}

.sidePanel > a > i {
	margin: 10px 0;
	opacity: 0.7;
	transition: transform ease 1s, opacity ease 1s;
}

.sidePanel > a + a > i {
	margin: 10px 3px;
}

.header {	
	background: url("../img/header.jpg") no-repeat;
	background-size: cover;
	height: 685px;
	display: grid;
	grid-template-columns: auto auto;
}

.headerText {
	grid-column: 2;
	animation: fadeIn 2s;
	position: relative;
	width: 100%;
	height: 20%;
	margin: 0 auto;
	top: 240px;
	text-align: center;
}

.headerText > h1 {
	color: white;
	font-size: 63px;
	font-weight: bold;
	opacity: 0.8;
	transition: transform 1s;
}

.headerText > p {
	color: white;
	font-size: 28px;
	opacity: 0.5;
	transition: transform 1s;
}

.highlight {
	color: #bfc1c1;
	font-weight: bold;
}

.highlight > span {
	position: absolute;
	width: 200px;
	background-color: #8e8e8e;
	border-radius: 3px;
	padding: 7px;
	font-size: 16px;
	color: #323233;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltipBox {
	margin-top: 23px;
}

.highlight > span > a, .highlight > a {
	text-decoration: none;
	color: #2562c4;
}

.highlight:hover > span {
	opacity: 1.0;
	visibility: visible;
}

section {
	background-color: #1B1B1B;
	display: grid;
	grid-template-columns: auto auto auto;
}

.sectionIndex_image {
	margin-left: 50px;
	grid-column: 1;
	grid-row: 1;
}

.sectionIndex_image > img {
	position: relative;
	width: 100%;
	bottom: -3px;
	opacity: 0.75;
	transition: transform ease 0.8s, opacity ease 0.8s;
}

.sectionIndex_text {
	width: 80%;
	margin: 0 auto;
	grid-row: 1;
	grid-column: 2 / span 3;
}

.sectionIndex_text > h1 {
	color: #d3d1d1;
	font-size: 42px;
	transition: transform 1s;
	position: relative;
	top: 30px;
}

.sectionIndex_text > p {
	margin-top: 50px;
	font-size: 14px;
	font-weight: 400;
	color: #b5b6b7;
}

.sectionIndex_text > p+p {
	margin-top: 25px;
}

footer {
	position: relative;
	z-index: 1;
	background-color: black;
	height: 60px;
}

footer > p {
	color: white;
	position: relative;
	top: 20px;
	text-align: center;
}

@media (max-width: 1400px){
	.headerText {
		top: 130px;
	}
	.headerText > h1 {
		font-size: 48px;
	}
	.headerText > p {
		font-size: 24px;
	}
	.sectionIndex_text > h1 {
		top: 20px;
		font-size: 32px;
	}
	.sectionIndex_text > p {
		font-size: 14px;
		margin-top: 40px;
	}
}

@media (max-width: 1300px){
	.sectionIndex_text {
		margin-left: 50px;
	}	
	.sectionIndex_text > h1 {
		top: 33px;
		font-size: 28px;
	}
	.sectionIndex_text > p {
		font-size: 12px;
		margin-top: 50px;
	}
}

@media (max-width: 1200px){
	.sectionIndex_text > h1 {
		top: 20px;
	}
	.sectionIndex_text > p {
		margin-top: 30px;
	}
}

@media (max-width: 1135px){
	.sectionIndex_text > h1 {
		top: 10px;
	}
	.sectionIndex_text > p {
		margin-top: 20px;
	}
}

@media (max-width: 1100px){
	.header {
		height: 450px;
		grid-template-columns: auto;
	}
	.headerText {
		grid-column: 1;
		margin: 0 auto;
		left: 0;
	}
	.headerText > h1 {
		opacity: 0.9;
		font-size: 63px;
	}
	.sectionIndex_image {
		margin: 0;
	}
	.sectionIndex_text {
		bottom: 0;
	}
	.sectionIndex_text > h1 {
		font-size: 26px;
	}
	.sectionIndex_text > p {
		font-size: 12px;
	}
	.tooltipBox {
		display: none;
	}
}

@media (max-width: 1050px){
	section {
		grid-template-columns: 300px auto;
	}
	.sectionIndex_text {
		grid-column: 2;
	}
}

@media (max-width: 760px){
	.sectionIndex_image > img {
		bottom: -10px;
	}
}

@media (max-width: 700px){
	.navbar > ul > li {
		left: 0;
	}
	.navbar > ul > li:last-child  {
		display: block;
	}
	aside {
		display: none;
	}
	section {
		display: block;
	}
	.headerText {
		opacity: 0.9;
		top: 150px;
	}
	.headerText > h1 {
		font-size: 48px;
	}
	.headerText > p {
		font-size: 22px;
	}
	.sectionIndex_image > img {
		position: relative;
		width: 85%;
		left: 7.5%;
		bottom: 0;
	}
	.sectionIndex_text {
		margin: 0 auto;
		overflow: hidden;
		display: block;	
		text-align: center;
	}
	.sectionIndex_text > h1 {
		font-size: 32px;
	}
	.sectionIndex_text > p {
		font-size: 18px;
	}
}

@media (max-width: 550px){
	.headerText > h1 {
		font-size: 36px;
	}
	.headerText > p {
		font-size: 18px;
	}
	.sectionIndex_text > h1 {
		font-size: 26px;
	}
	.sectionIndex_text > p {
		font-size: 14px;
	}
}

@media (max-width: 380px){
	.headerText > h1 {
		font-size: 32px;
	}
	.headerText > p {
		font-size: 14px;
	}
}

@media (max-width: 380px){
	.headerText > h1 {
		font-size: 28px;
	}
	.headerText > p {
		font-size: 12px;
	}
}